.info-box {
  display: flex;
  flex-direction: column;
  top: 40px;
  left: 10px;
  gap: 5px; 
  max-width: 200px; 
  padding: 12px 15px; 
  background: #f8f9fa; 
  border-radius: 6px; 
  border: 1px solid #d1d1d1; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: relative;
  font-family: 'Arial', sans-serif; 
  z-index: 100;
}

.info-row {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 2px 0; 
}

  .info-row label {
    font-size: 10px; 
    font-weight: 600; 
    color: #333; 
    flex: 1;
    white-space: nowrap; 
  }

  .info-row span {
    flex: 2;
    text-align: center;
    font-size: 10px;
    color: #555; 
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
  }

  .info-row a {
    flex: 2;
    text-align: center;
    font-size: 10px;
    color: #007BFF; 
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

    .info-row a:hover {
      color: #0056b3;
      text-decoration: underline; 
    }

.info-box:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border-color: #bbb;
}

.info-row-status {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

  .info-row-status label {
    font-size: 10px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    flex: 1;
    text-align: left;
  }

.status-list {
  flex: 2; 
  display: flex;
  flex-direction: column; 
  gap: 2px; 
}


.status-item {
  font-size: 10px;
  font-weight: 500;
  color: #333;
  padding: 2px 6px;
  text-align: center; 
}


.ownership-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 5px;
}


.ownership-details {
  display: flex;
  flex-direction: column;
  padding-left: 10px; 
  font-size: 10px;
  color: #555;
  font-weight: 500;
  gap: 2px; 
}





