<div class="info-box">
  <div class="info-row">
    <label>Name:</label>
    <span>{{ corporateEntityInfo?.name }}</span>
  </div>

  <div class="info-row">
    <label>Jurisdiction:</label>
    <span>{{ corporateEntityInfo?.jusridiction }}</span>
  </div>

  <div class="info-row">
    <label>TIN:</label>
    <span>{{ corporateEntityInfo?.tin }}</span>
  </div>

  <div *ngIf="corporateEntityInfo.statuses.length" class="info-row">
    <label>Globe Statuses:</label>
    <span *ngFor="let status of corporateEntityInfo?.statuses">{{ status }}</span>
  </div>

  <div *ngIf="corporateEntityInfo.ownerships.length" class="info-row">
    <label>Ownerships:</label>
    <a href="#" (click)="onLinkClick($event)">Click for Ownership List</a>
  </div>
</div>
