<div class="info-box" *ngIf="corporateEntityInfo$ | async as corporateEntityInfo">
  <div class="info-row">
    <label>Name:</label>
    <span>{{ corporateEntityInfo?.name }}</span>
  </div>

  <div class="info-row">
    <label>Jurisdiction:</label>
    <span>{{ corporateEntityInfo?.jurisdiction }}</span>
  </div>

  <div class="info-row">
    <label>TIN:</label>
    <span>{{ corporateEntityInfo?.tin }}</span>
  </div>

  <div *ngIf="corporateEntityInfo.statuses.length" class="info-row-status">
    <label>Globe Statuses:</label>
    <div class="status-list">
      <span *ngFor="let status of corporateEntityInfo?.statuses" class="status-item">
        {{ status }}
      </span>
    </div>
  </div>
  <div *ngIf="corporateEntityInfo?.ownerships?.length" class="info-row">
    <label>Ownerships:</label>
    <a *ngIf="corporateEntityInfo.ownerships.length > 1; else Ownership;" href="#" (click)="onLinkClick($event, corporateEntityInfo.ownerships)">
      Click for Ownership List
    </a>
  </div>
  <ng-template #Ownership>
    <div class="info-row-status ownership-container">
      <div class="ownership-details">
        <div><strong>Owner Name:</strong> {{ corporateEntityInfo.ownerships[0]?.ownerName }}</div>
        <div><strong>Ownership Type:</strong> {{ corporateEntityInfo.ownerships[0]?.ownershipType }}</div>
        <div><strong>Ownership %:</strong> {{ corporateEntityInfo.ownerships[0]?.ownershipPercentage }}</div>
      </div>
    </div>
  </ng-template>
</div>


