<div class="info-box" *ngIf="ownershipInfo$ | async as ownershipInfo" >
  <div class="info-row">
    <label>Owner Name:</label>
    <span>{{ ownershipInfo.ownerName }}</span>
  </div>
  <div class="info-row">
    <label>Owned Name:</label>
    <span>{{ ownershipInfo.ownedName }}</span>
  </div>
  <div class="info-row">
    <label>Ownership Type:</label>
    <span>{{ ownershipInfo.ownershipInfo?.ownershipType }}</span>
  </div>
  <div class="info-row">
    <label>Percentage Owned:</label>
    <span>{{ownershipInfo.ownershipInfo?.ownershipPercentage }}%</span>
  </div>
</div>
