<h1 class="title">{{ mneName }}</h1>
<div class="radio-container">
  <label>
    <input type="radio" name="edgeStyle" value="bezier" (change)="applyEdgeStyle($event)" checked />
    Bezier
  </label>
  <label>
    <input type="radio" name="edgeStyle" value="unbundled-bezier" (change)="applyEdgeStyle($event)" />
    Unbundled Bezier
  </label>
  <label>
    <input type="radio" name="edgeStyle" value="segments" (change)="applyEdgeStyle($event)" />
    Segements
  </label>
</div>
<div class="cy-wrapper">
  <div #graph class="cy-container"></div>
</div>
<app-corporate-entity-info *ngIf="showSelectedCorporateEntityInfo"
                           (showOwnershipList)="setShowOwnershipList($event)">
</app-corporate-entity-info>
<app-corporate-subtree *ngIf="showSelectedCorporateEntityInfo"></app-corporate-subtree>
<app-ownership-info *ngIf="showSelectedOwnershipInfo">
</app-ownership-info>
<app-ownership-list *ngIf="showSelectedOwnershipList && (corporateEntityInfo$ | async) as corporateEntityInfo"
                    [ownerships]="selectedOwnerships"
                    [ownedName]="corporateEntityInfo.name">
</app-ownership-list>
<button class="reset-button" (click)="resetLayout()">Reset Layout</button>
<button class="fit-button" (click)="fitView()">Fit to Screen</button>
<app-corporate-status-legend></app-corporate-status-legend>

